REST API/REST API/xmlValidation/weaponClass.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="low" type="xs:byte"/>
	<xs:element name="high" type="xs:byte"/>
	<xs:element name="range">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="low"/>
				<xs:element ref="high"/>
				<xs:element ref="special" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute type="xs:string" name="id" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="head" type="xs:short"/>
	<xs:element name="body" type="xs:byte"/>
	<xs:element name="legs" type="xs:byte"/>
	<xs:element name="hip" type="xs:float"/>
	<xs:element name="pellet_count" type="xs:byte"/>
	<xs:element name="burst_rate" type="xs:float"/>
	<xs:element name="type" type="xs:string"/>
	<xs:element name="attributes">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="pellet_count"/>
				<xs:element ref="burst_rate"/>
			</xs:sequence>
			<xs:attribute type="xs:string" name="id"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="damage">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="range"/>
				<xs:element ref="head"/>
				<xs:element ref="body"/>
				<xs:element ref="legs"/>
			</xs:sequence>
			<xs:attribute type="xs:string" name="id" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="name" type="xs:string"/>
	<xs:element name="cost" type="xs:short"/>
	<xs:element name="spread" type="xs:string"/>
	<xs:element name="fire_type" type="xs:string"/>
	<xs:element name="penetration" type="xs:string"/>
	<xs:element name="fire_rate" type="xs:float"/>
	<xs:element name="run_speed" type="xs:float"/>
	<xs:element name="equip_speed" type="xs:float"/>
	<xs:element name="first_shot_spread">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="hip"/>
			</xs:sequence>
			<xs:attribute type="xs:string" name="id" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="reload_speed" type="xs:float"/>
	<xs:element name="magazine" type="xs:byte"/>
	<xs:element name="alt_fire">
		<xs:complexType mixed="true">
			<xs:sequence>
				<xs:element ref="type" minOccurs="0"/>
				<xs:element ref="attributes" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute type="xs:string" name="id" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="feature" type="xs:string"/>
	<xs:element name="special" type="xs:string"/>
	<xs:element name="weapons">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="damage" maxOccurs="unbounded" minOccurs="0"/>
				<xs:element ref="name"/>
				<xs:element ref="cost"/>
				<xs:element ref="spread"/>
				<xs:element ref="fire_type"/>
				<xs:element ref="penetration"/>
				<xs:element ref="fire_rate"/>
				<xs:element ref="run_speed"/>
				<xs:element ref="equip_speed"/>
				<xs:element ref="first_shot_spread"/>
				<xs:element ref="reload_speed"/>
				<xs:element ref="magazine"/>
				<xs:element ref="alt_fire"/>
				<xs:element ref="feature"/>
			</xs:sequence>
			<xs:attribute type="xs:string" name="id" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="weapon_class">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="weapons" maxOccurs="unbounded" minOccurs="0"/>
				<xs:element ref="name"/>
			</xs:sequence>
			<xs:attribute type="xs:string" name="id"/>
		</xs:complexType>
	</xs:element>
</xs:schema>